body {
    color: #333;
}

.container {
    margin-top: 6vh;
    background-color: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

main {
    background-color: #fff;
}

.card,
#bgImg {
    border-radius: 5px;
}

#bgImg {
    height: 200px;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-img-overlay {
    height: 200px;
}

#quote {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

#dateWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    width: 10%;
}

ul input {
    width: 80%;
}

ul button {
    width: 10%;
}

#refreshBtn,
.saveBtn {
    background-image: linear-gradient(to right, #18105B  0%, #7E63A0 100%);
    border: 1px solid #fff;
}

#refreshBtn:hover,
.saveBtn:hover { 
    background-image: linear-gradient(to right, #534CAA  0%, #A779AC 100%);
    border: 1px solid #fff;
}

#refreshBtn {
    margin-left: 90%;
}

/* .saveBtn {
    background-image: linear-gradient(to right, #ffaeae  0%, #ffe3c7 100%);
    border: 1px solid #fff;
}

.saveBtn:hover { 
    background-image: linear-gradient(to right, #ffc7c7  0%, #ffe3c7 100%);
    color: #333;
    border: 1px solid #fff;
} */

.timePast {
    background-color: #dadddb;
}

.timePresent {
    background-color: #f0c7c8;
}

.timeFuture {
    background-color: #c7f0db;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24%;
}